{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ user.firstname }}'s Profile</title>
    <style>
        .profile-table {
            width: 50%;
            margin-top: 20px;
        }
        .table-container {
            margin-left: 5%;
            margin-top: 2%;
        }
    </style>
</head>
<body>
    <div class="table-container">
        <h1>Hello {{ user.firstname }}!</h1>

        <table class="table profile-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Detail</th>
                    <th scope="col">Your Info <a href="{{ url_for('users.editInfo')}}"> Edit </a> </th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                    <td>Account Number</td>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>{{ user.firstname }}
                    </td>

                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td>${{ user.balance }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="table profile-table">
        <h2>Your Purchases</h2>
            <thead>
                {% if purchases %}
                <tr>
                    <th>Product Name</th>
                    <th>Purchase Date</th>
                    <th>Amount Paid</th>
                    <th>Fulfillment Status</th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.ProductName }}</td>
                    <td>{{ purchase.PurchaseDate }}</td>
                    <td>${{ purchase["Amount Paid"] }}</td>
                    <td>{{ purchase["Fufillment Status"] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>No purchases found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>

{% endblock %}
